@mixin atSmall {
  @media (min-width: 520px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 800px) {
    @content;
  }
}
@mixin atLarge {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin sectionPadding {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include atSmall {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
