@import "../../styles/main.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  height: 4rem;
  width: 100%;

  &__nav {
    display: none;
    @include atMedium {
      display: block;
    }
  }
  &__hamburger {
    svg {
      fill: $melon-color;
    }
    @include atMedium {
      display: none;
    }
  }
}
