@import "../../styles/main.scss";

.add-post {
  background-color: #fff;
  width: 95%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  @include atSmall {
    width: 80%;
  }
  @include atMedium {
    width: 50%;
  }
  &__input {
    display: flex;
    flex-direction: column;
    &__img {
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 16px;
      border: 1px solid $melon-color;
      outline: none;
      &::placeholder {
        color: $pale-pink;
      }
    }
    &__title {
      padding: 10px 20px;
      border-radius: 16px;
      border: 1px solid $melon-color;
      outline: none;
      &::placeholder {
        color: $pale-pink;
      }
    }
  }
  &__btn {
    background-color: $melon-color;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 10px;
    color: #fff;
    transition: 0.3s ease;
    outline: none;
    cursor: pointer;
    &:hover {
      background: none;
      border: 1px solid $melon-color;
      color: $melon-color;
    }
  }
}
